body{

margin:0;

background:#0f0f0f;

color:white;

font-family:Roboto,Arial,sans-serif;

overflow-x:hidden;

}

.app-shell{

display:flex;

min-height:calc(100vh - 64px);

}

.content{

flex:1;

padding:24px;

padding-bottom:90px;

background:#0f0f0f;

}

@media(max-width:768px){

.content{

padding:16px;

padding-bottom:85px;

}

}
