.form-container {
    max-width: 450px;
    margin: 30px auto;
    padding: 20px;
}

.form-container h2 {
    text-align: center;
}

.form-container button {
    width: 100%;
}

.page-container {
    width: 100%;
}

@media (max-width: 600px) {

    .form-container {
        padding: 10px;
        margin: 15px auto;
    }

    button {
        width: 100%;
    }

    input,
    textarea {
        font-size: 16px;
    }

}
